<!-- Offers -->
  <section class="page-section" id="{{ site.data.sitetext[site.locale].offers.section | default: "offers" }}">
    <div class="container">
	
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading text-uppercase">{{ site.data.sitetext[site.locale].offers.title | default: "Offers" }}</h2>
          {% if site.data.sitetext[site.locale].offers.text %}
		  <h3 class="section-subheading text-muted">{{ site.data.sitetext[site.locale].offers.text }}</h3>
		  {% endif %}
        </div>
      </div>
	 
      <div class="row text-center"> 
	  {% for offer in site.data.sitetext[site.locale].offers.list %}
        <!-- CARD -->
        <div class="col-md-4">
          <div class="card" style="background-image:  url({{offer.photo}});">
            <div class="card-content">
              <h4 class="card-title">{{ offer.title | markdownify }}</h4>
              <p class="card-body">
                {{ offer.desc | markdownify }}
              </p>
              <a href="#" class="button">Zapytaj</a>
            </div>
          </div>  
       </div>

	  {% endfor %}
	  </div>
    </div>
  </section>
<!-- End Offers -->